/*
  BARVY
  pozadi stranky      #bdc3c7
  pozadi karticky     #31363b
  barva textu         #bdc3c7
  oddelovace          #3f464d
  czechitas logo      #b92e81
  tlacitko portfolio  #e74c3c
  tlacitko facebook   #3b5998
  tlacitko twitter    #1da1f2
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #bdc3c7;
  color: #bdc3c7;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #bdc3c7;
  text-transform: uppercase;
}
/*cela karta*/
.cela-karta {
  background-color: #31363b;
  width: 250px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

/*foto pozadí hlavičky*/
.foto {
  width: 100%;
  padding: 0;
}

/*logo*/
.logo {
  position: absolute;
  background-color: #b92e81;
  border-radius: 50%;
  top: 22%;
  left: 70%;
}

/*text - nadpis + odstavce*/
.texty {
  font-family: "Source Sans 3", sans-serif;
  padding: 20px;
  border-bottom: 1px solid #bdc3c7;
}

/*tlačítka*/
.tlacitka {
  font-family: "Montserrat", sans-serif;
}

.portfolio {
  display: block;
  padding: 16px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #bdc3c7;
}

.fb {
  border-right: 1px solid #bdc3c7;
  padding: 16px;
}
.twitter {
  padding: 16px;
}

.portfolio:hover {
  background-color: #e74c3c;
}

.fb,
.twitter {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
}

.fb:hover {
  background-color: #3b5998;
}

.twitter:hover {
  background-color: #1da1f2;
}
